html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #45badd;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./robot.gif') no-repeat;
    background-size: contain;
    background-position: left center;

}

button {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: antiquewhite;
    background-color: #ff3482;
    border: none;
    border-radius: 10px;

}

audio {
    position: fixed;
}

button:hover {
    filter: brightness(120%);

}

/*button:active {
    transform: scale(0.95);

}*/

button:disabled {
    filter: brightness(30%);

}

@media screen and (max-width: 1300px) {

    .container {
        
        background-position: left center;
        background-size: 80%;

    }


    button {
        transform: translateX(130px);
    
    }
}



@media screen and (max-width: 780px) {

    .container {
        
        background-position: left center;
        background-size: 80%;

    }


    button {
        transform: translateX(130px);
    
    }
}

@media screen and (max-width: 650px) {

    .container {
        
        background-position: top center;
        background-size: 115%;

    }


    button {
        transform: translateY(155px);
    
    }
}

@media screen and (max-width: 450px) {

    .container {
        
        background-position: top center;
        background-size: 140%;

    }


    button {
        transform: translateY(155px);
    
    }
}

@media screen and (max-width: 360px) {

    .container {
        
        background-position: top center;
        background-size: 190%;

    }

    button {
        transform: translateY(145px);
    
    }
}

@media screen and (max-width: 320px) {

    .container {
        
        background-position: top center;
        background-size: 210%;

    }

    button {
        transform: translateY(140px);
    
    }
}